/* ********************************************************************* */
/* ******************* LES STYLES ************************************** */
/* ********************************************************************* */
body	{background-color:#ffffff; padding-bottom : 20px; margin:0; text-align:center; text-align:justify; font-size:20px;}
.avec_survol    {font-family:Petit Formal Script; color:black; text-decoration: none;}
.menu	{padding:20px 15px;}
.menu li {  display:inline;padding:0% 2%;float:left;}
.dropdown-content {  display: none; text-align:left;  position: absolute; background: rgba(100,100,100,0.9);  min-width: 120px;  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);  padding: 12px 16px; }
.dropdown-content a {  float: none;  text-decoration: none; display: block; padding: 12px 0px; }
.dropdown {  position: relative;  display: inline-block;}
.navbar {  overflow: visible;  background-color:#f0f0f0;  position: fixed; top: 0;  width: 100%;}
h2 {font-size:40px;text-align:center;}
p { padding: 20px; }

/* ********************************************************************* */
/* ********************ECRAN NON TACTILE ******************************* */
/* ********************************************************************* */
@media (hover: hover) 
	{.dropdown a:hover{text-shadow:5px 5px 10px black;}
	.dropdown:hover .dropdown-content{display: block;}
	.menu li {font-size:25px;}
	.menu_fleche{width: 40px ;height : auto;}
	.menu_maison{width: 80px ;height : auto;}
	.menu_sauf_maison{padding:20px 0px;}
	.sans_survol{display: none;}}

/* ********************************************************************* */
/* *********************** ECRAN TACTILE ******************************* */
/* ********************************************************************* */
@media (hover: none) 
	{
	body{margin:0px 0px;background-color:#ffffff;}
	.colonne_centre {width: 100%;}
	.menu li {font-size:6vw;padding:2px 0%;}
	.menu_fleche{width: 40px ;height : auto;}
	.menu_maison{width: 100px ;height : auto;}
	.menu_sauf_maison{padding:30px 0px;}
	.avec_survol{display: none;} .show {display: block;} 
	.corps{ margin : 5% 5% ;font-size:4vw;}}
