/* ********************************************************************* */
/* ******************* LES STYLES ************************************** */
/* ********************************************************************* */
body	{background-color:#ffffff; padding-bottom : 20px; margin:0; text-align:center}
p {text-align:justify;}
h1 {font-family: 'Big Shoulders Display', cursive; padding : 50px 50px;font-size : 60px;}

.avec_survol    { text-decoration: none;color: #000000;}
.sans_survol    { text-decoration: none;color: #000000;}
.menu	{padding:0px 0px; text-decoration: none; text-align:center;}
.menu li {  display:inline;padding:0% 2%;text-decoration: none;}
.dropdown-content {  display: none; text-align:left;  position: absolute; background-color:#f0f0f0; /* background: rgba(100,100,100,0.9);*/  min-width: 120px;  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);  padding: 12px 16px; }
.dropdown-content a {  float: none;  text-decoration: none; display: block; padding: 12px 0px; }
.dropdown {  position: relative;  display: inline-block;}
.navbar {  overflow: visible;  background-color:#f0f0f0;  position: fixed;  top: 0;  width: 100%; font-family:Petit Formal Script; color:black;}

/* ********************************************************************* */
/* ********************ECRAN NON TACTILE ******************************* */
/* ********************************************************************* */
@media (hover: hover) 
	{.dropdown a:hover{text-shadow:5px 5px 10px black;}
	.dropdown:hover .dropdown-content{display: block;}
	p {font-size : 20px; margin-right : 10%; margin-left: 10%;}
	.menu li {font-size:5vh;}
	.menu{margin : 25 0}
        .navbar {height: 18vh;}
        body {margin-top: 18vh;}
	.sans_survol{display: none;}
	.img_cote_cote	{display: inline; margin: auto; height: 30vw; width: auto;}
	.img_full_large {height:80vh; width:auto; margin:0; padding:0}
	.img_vignette {width: 50vw; height:auto;}
        p {padding:0;}}

/* ********************************************************************* */
/* *********************** ECRAN TACTILE ******************************* */
/* ********************************************************************* */
@media (hover: none) 
	{
	.menu li {font-size:50px;}
        .menu{margin : 50 0}
        .navbar {height: 150px}
        body {margin-top: 150px;}
	.avec_survol{display: none;} .show {display: block;} 
	p {padding:14px;}
        .img_full_large {width:100%; margin:0; padding:0}
        .img_vignette {width: 60vw; height:auto;}
        }
